.Afficheur{
    margin: 01vw;
    background-color: rgba(240, 248, 255, 0.925);
    border-radius: 5px;
    border: 1px solid grey;
    width: 29.5vw;
    height: 7vh;
    font-size: calc(min(2.3vw, 4vh));
    text-align: right;
    code{
        color: black;
        margin-right: 1vw;
        padding-top: calc(max(-1.15vw, -2vh));
        width: 100%;
        .operator{
            position: relative;
            text-align: left;
            margin: 1vw;
            font-size: calc(min(1.15vw, 2vh));
        }
    }
}


